RewriteEngine on
RewriteBase /

RewriteRule ^(PHP|PDF|Database|API|view-php|dashboard)/?$ - [F]

RewriteRule ^property/([0-9]+)/?$ PatagoniaEstate/PHP/properties.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ PatagoniaEstate/index.php/$1
